.skillItem {
    width: 40vw;
    height: 70px;
}

.progressbar {
    width: 100%;
    background-color: rgba(81, 77, 77, 0.81);
    height: 10px;
}

.progress {
    height: 100%;
    width: 0%;
    background-color: #BC8CF2;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 3s ease 0s;
}

.skillName {
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

@media screen and (max-width: 650px){
    .skillItem{
        width: calc(100vw - 40px);
        height: 90px;
    }
    .techStack{
        gap: 0px;
    }
}