.LogoItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.LogoIcon{
    width: 60px;
    transition: all .2s ease;
}

.LogoItemInfo{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.LogoItemInfo a{
    color: white;
    text-decoration: none;
    transition: all .2s ease;
}

.LogoItemInfoLight a{
    color: black;
}

.LogoItemInfo a:hover{
    color: #5b94ff;
    text-decoration: none;
}
