.darkThemeToggler{
    height: 20px;
    width: 50px;
    background-color: white;
    border-radius: 25px;
    padding: 3px;
    cursor: pointer;
    transition: all 0.7s ease;
}

.iconSpan{
    display: flex;
    align-items: center;
    height: 100%;
    width: 20px;
    transition: all 0.7s ease;
    border-radius: 50%;
    background-color: #5b94ff;
}

._iconSpanActive{
    transform: translate(30px, 0px);
}