.PortfolioSection{
    background-color: black;
    padding: 30px;
    padding-top: 50px;
}

.PhotoCollage{
    display: flex;
    justify-content: center;
}

.css-8wgz7g{
    fill: #BC8CF2 !important;
}

.css-m6j0xf{
    color: rgba(188, 140, 242, 0.75) !important;
}

.css-1cm5myo{
    max-width: 85% !important;
}

.rec-dot {
    background-color: white !important;
}
.rec-dot_active{
    background-color: #BC8CF2 !important;
}

.react-icon {
    animation-name: spin;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}