.PortfolioSection{
    background-color: black;
    padding: 30px;
    padding-top: 50px;
    transition: all 1s ease;
    padding-bottom: 150px;
}

.PortfolioSectionLight{
    background-color: white;
    color: black;
}

.whiteIcon{
    transition: all 1s ease;
    color: white;
}

.whiteIconLight{
    color: black;
}

.PhotoCollage{
    display: flex;
    justify-content: center;
}

.css-8wgz7g{
    fill: #5b94ff !important;
}

.css-m6j0xf{
    color: rgba(188, 140, 242, 0.75) !important;
}

.css-1cm5myo{
    max-width: 85% !important;
}

.rec-dot {
    background-color: white !important;
}
.rec-dot_active{
    background-color: #5b94ff !important;
}

.react-icon {
    animation-name: spin;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}