.Skills {
    height: auto;
    background: black;
    transition: all 1s ease;
}

.SkillsLight{
    background-color: white;
    color: black;
}

.skillsList {
    padding: 0px;
}

.techStack {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 650px){
    .Skills{
        padding: 20px;
        font-size: 15pt;
    }
}