.PortfolioItem{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.ItemCodeLink{
    display: flex;
    align-items: center;
    gap: 10px;
}

.ItemCodeLink a{
    text-decoration: none;
    color: #BC8CF2;
}

.PortfolioItemFooter{
    width: 80%;
    height: 2px;
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    align-self: center;
}

.itemCategory{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(44, 44, 45);
    width: fit-content;
    padding: 10px;
    font-size: 10pt;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ItemDeclaration{
    display: flex;
    gap: 10px;
    padding: 10px;
    padding-bottom: 15px;
}

li::marker {
    color: #BC8CF2;
}

.DeclarationText{
    display: flex;
    align-self: center;
    /* width: 100%;
    justify-content: center;
    position: absolute; */
}

.ItemDescription{
    text-align: justify;
    display: flex;
    padding-bottom: 15px;
}

.FeaturesUL {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.FooterLinks{
    display: flex;
    gap: 10px;
    align-self: center;
}

.FeaturesDeclarator{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.PortfolioItemDescription{
    height: 500px;
    width: 80%;
    align-self: center;
}

@media screen and (max-width: 650px){
    .PortfolioSection{
        padding: 20px;
    }
    .ItemDeclaration{
        padding-bottom: 15px;
    }
    .ItemDescription{
        display: flex;
        padding-bottom: 15px;
    }
    .svg-inline--fa {
        font-size: 35pt !important;
    }
    .FooterLinks{
        width: 80%;
    }
}