body{
    color: white;
    background-color: black;
}

.About{
    display: flex;
    background-color: black;
    height: auto;
    color: white;
    padding-bottom: 10px;
    padding-top: 25px;
}
.aboutPhotoContainer{
    width: 50%;
    display: flex;
    align-self: center;
    justify-content: center;
}
.AboutPhoto {
    width: 100%;
    max-width: 30vw;
}
.TextContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    padding-top: 0px;
    line-height: 1.5;
}

.BottomText h4 {
    color: white;
}
.BottomText h4 span {
    color: white;
}
.TextContainer h4 span {
    color: #BC8CF2;
}

@media screen and (max-width: 650px){
    .aboutPhotoContainer {
        display: none;
    }
    .About{
        padding: 20px;
        display: flex;
        flex-direction: column-reverse;
    }
    .TextContainer{
        width: 100%;
        font-size: 15pt;
    }
}