.About{
    display: flex;
    background-color: black;
    height: auto;
    color: white;
    padding: 10px 50px 10px 50px;
}
.aboutPhotoContainer{
    border: 10px solid  #BC8CF2;
    border-top-left-radius: 25px;
}
.TextContainer{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    padding-top: 0px;
    line-height: 1.5;
}

.BottomText h4 {
    color: #BC8CF2;
}
.BottomText h4 span {
    color: white;
}
.TextContainer h4 span {
    color: #BC8CF2;
}