.Home{
    background-color: black;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    padding: 60px 50px 10px 50px;
}
.ShortInfo {
    font-size: 30pt;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.introduction span:nth-child(2){
    color: #BC8CF2;
}
.introduction span:nth-child(1)::after{
    content: " ";
}

.PhotoContainer {
    overflow: hidden;
    height: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.profilePicture{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.downArrowsDiv{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    animation: scrollDownArrows ease infinite;
    animation-duration: 1s;
    font-size: 30pt;
}

@keyframes scrollDownArrows {
    0% {transform: translate(0, -10px);}
    50% {transform: translate(0, 0px);}
    100% {transform: translate(0, -10px);}
}