.Home{
    background-color: black;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.ShortInfo {
    font-size: 30pt;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    padding: 10px;
}

.introduction{
    height: 230px;
}

.introduction span:nth-child(2){
    color: #BC8CF2;
}
.introduction span:nth-child(1)::after{
    content: " ";
}

.PhotoContainer {
    width: 50%;
    padding: 10px;
    padding-left: 0px;
    /* overflow: hidden;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px; */
}

.profilePicture{
    width: 70%;
}

/* @media screen and (max-width: 1026px) {
    .profilePicture{
        width: 60%;
    }
} */

.HomeBriefBio{
    font-size: 11pt;
    padding-top: 10px;
}

@media screen and (max-width: 650px) {
    .Home{
        flex-direction: column-reverse;
        padding-top: 0px;
        padding: 20px;
        justify-content: start;
        padding-top: 50px;
    }
    .ShortInfo{
        width: 100%;
        font-size: 25pt;
    }
    .introduction{
        height: 130px;
    }
    .btn{
        width: 80vw;
        position: absolute;
        bottom: 100px;
        align-self: center;
    }
    .HomeBriefBio{
        font-size: 15pt;
    }
}

.downArrowsDiv{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    animation: scrollDownArrows ease infinite;
    animation-duration: 1s;
    font-size: 30pt;
}

@keyframes scrollDownArrows {
    0% {transform: translate(0, -10px);}
    50% {transform: translate(0, 0px);}
    100% {transform: translate(0, -10px);}
}