.Header {
    display: flex;
    padding: 10px 50px 10px 50px;
    position: fixed;
    background: rgba(0, 0, 0, 0.384);
    width: 100%;
    backdrop-filter: blur(1px);
    border-bottom: 0.5px solid white;
    align-items: center;
    gap: 10px;
    height: 30px;
    z-index: 2;
}
.HeaderContent{
    display: flex;
    align-items: center;
    width: calc(100% - 100px);
}
.Name {
    font-size: 19pt;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
    color: #BC8CF2;
    text-shadow: 2px 0px black;
}
.NavBar{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-left: auto;
}
.NavBar a{
    text-decoration: none;
    color: white;
}

.CrossNavBar{
    display: none;
    transition: all 0.3s ease;
    justify-content: center;
    width: 50px;
    height: 25px;
}

.CrossNavBar span:nth-child(1){
    width: 2px;
    height: 25px;
    background-color: white;
    transform: rotate(90deg);
}

.CrossNavBar span:nth-child(2){
    width: 2px;
    height: 25px;
    background-color: white;
    margin-left: -2px;
    transition: all 0.3s ease;
    transform: rotate(90deg);
    margin-top: -10px;
}

.CrossNavBar span:nth-child(3){
    width: 2px;
    height: 25px;
    background-color: white;
    margin-left: -2px;
    transition: all 0.3s ease;
    transform: rotate(90deg);
    margin-top: 10px;
}

.NavBarScreen{
    opacity: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    margin-left: 100vw;
    transition: all 1s ease;
    background-color: rgba(0, 0, 0, 0.81);
    z-index: 1;
    backdrop-filter: blur(1.5px);
}

.NavBarScreenLinksDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

.NavBarScreenLinksDiv a {
    text-decoration: none;
    color: white;
    font-size: 23pt;
}

.darkThemeToggler{
    height: 20px;
    width: 50px;
    background-color: white;
    border-radius: 25px;
    padding: 3px;
    cursor: pointer;
    transition: all 0.7s ease;
}

._darkThemeTogglerAcive{
    background-color: black;
}

.iconSpan{
    display: flex;
    align-items: center;
    height: 100%;
    width: 20px;
    transition: all 0.7s ease;
    border-radius: 50%;
    background-color: #BC8CF2;
}

._iconSpanActive{
    transform: translate(30px, 0px);
}

@media screen and (max-width: 650px) {
    .NavBar {
        display: none;
    }
    .CrossNavBar{
        display: flex;
        margin-left: auto;
    }
    .Experience{
        padding-right: 5px !important;
    }
    .ShortInfo{
        font-size: 16pt;
    }
}