.Experience{
    height: auto;
    background-color: black;
    padding: 30px;
    padding-top: 50px;
    transition: all 1s ease;
    padding-bottom: 150px;
}

.ExperienceLight{
    background-color: white;
    color: black;
}

.workHistoryItem {
    border-left: #5b94ff 5px solid;
    height: auto;
    display: flex;
    flex-direction: column;
}

.WorkHistoryCompanyBage {
    width: fit-content;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-weight: bold;
}

.DHLStyle {
    color: #D40511;
    background-color: #FFCC00;
    font-family: Sabon;
}

.IKEAStyle {
    color: #0058AB;
    background-color:  #FBD914;
    font-family: Sabon;
    border: #0058AB 7px solid;
    border-radius: 25%;
}

.AGroupStyle{
    border: 2px solid white;
    transition: all 1s ease;
}

.blackBorder{
    border: 2px solid black;
}

.AGroupStyle span::first-letter {
    color: rgb(237, 204, 120);
}

.DynamicSunStyle {
}

.DynamicSunStyle span:nth-child(2) {
    margin-left: 10px;
    position: absolute;
    height: 20px;
    width: 6px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border: 3px solid green;
    border-left-color: transparent;
    align-self: center;
}

.DynamicSunStyle span:nth-child(3) {
    position: absolute;
    height: 5px;
    width: 4px;
    border-bottom-right-radius: 6px;
    border: 3px solid yellow;
    border-top: 0px solid black;
    border-left: 0px solid black;
    margin-left: 10.5px;
    margin-top: 13px;
}

.DynamicSunStyle span:nth-child(4) {
    position: absolute;
    height: 10px;
    width: 10px;
    border-bottom-right-radius: 20px;
    border: 3px solid blue;
    border-top: 0px solid black;
    border-left: 0px solid black;
    margin-left: 13px;
    margin-top: -2px;
    transform: rotate(-82deg);
}

/* .dynamicSunLogo span:nth-child(2){
    width: 5px;
    height: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid green;
    border-left-color: black;
    align-self: center;
}
.dynamicSunLogo span:nth-child(3){
    width: 5px;
    height: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid blue;
    border-left-color: black;
    align-self: center;
} */

.briefcaseIcon{
    color: black;
    font-size: 20pt;
    position: absolute;
    background-color: #5b94ff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 5px;
}

.timePeriod {
    font-size: 10pt;
    font-weight: bold;
    width: fit-content;
    margin-left: 30px;
    padding: 5px;
    border-radius: 10px;
}

.WorkHistoryDescription {
    display: flex;
    padding: 30px;
    text-align: justify;
    flex-direction: column;
    gap: 10px;
}

.WorkHistoryDescription h4{
    color: #5b94ff;
}



.WorkHistoryDescription h4::before{
    content: "\"";
    color: white;
}

.WorkHistoryDescription h4::after{
    content: "\"";
    color: white;
}

.chevronDownIcon {
    display: flex;
    margin-left: -11px;
    font-size: 23pt;
    font-weight: bold;
    color: #5b94ff;
    position: absolute;
    margin-top: -20px;
}

@media screen and (max-width: 650px){
    .Experience {
        font-size: 15pt;
        padding: 20px;
    }
    .timePeriod{
        font-size: 15pt;
        padding-bottom: 10px;
    }
    .WorkHistoryDescription{
        padding-top: 0px;
        padding-right: 20px;
        padding-left: 20px;
        gap: 15px;
    }
    .WorkHistoryDescription h4{
        margin-top: 0px;
        padding-top: 25px;
        padding-bottom: 15px;
        margin-bottom: 0px;
    }
    .briefcaseIcon{
        left: 1px;
        margin-top: -3px;
    } 
    .chevronDownIcon{
        margin-left: -17.4px;
        margin-top: -32px
    }
}