@font-face{
  font-family: "Comfortaa";
  src: local("Comfortaa"),
  url("./fonts/Comfortaa-VariableFont_wght.ttf")
  format("truetype")
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 14pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background-color: black;
}

body::-webkit-scrollbar-track {
  background-color: rgba(91, 148, 255, 0.2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(91, 148, 255, 0.7);
}

.btn{
  border: #5b94ff 3px solid;
  width: fit-content;
  margin-top: 10px;
  padding: 10px;
  gap: 10px;
  display: flex;
  align-items: center;
  color: #5b94ff;
  cursor: pointer;
  text-decoration: none;
}

.scrolledToAboutComponent {
  transform: translate3d(0px, -90vh, 0px);
    transition: all 700ms ease;
}

.photo {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 0.5px solid white;
}

.briefcaseIcon {
  z-index: 0;
}